<!-- taken from https://github.com/g-leech/argmin-gravitas/blob/77e179941a61f54565ce3d88d5e304d1908982e4/_includes/comments.html -->
<!-- modified to be one big form with a value for slug -->
<!-- this slug is maybe wrong or at least inconsistent with some other things -->
{% assign slug = page.title | slugify %}


<div class="accordion">
        <h3>Comments ({{site.data.comments[slug] | size}})</h3>
  <div>

  {% if site.data.comments[slug] %}
    {% assign comments = site.data.comments[slug] | sort %}

    {% for comment in comments %}
      <br>
      <p><b>{{ comment[1].author_name }}</b> </p>
      <p><em>{{ comment[1].timestamp | date: "%B %d %Y" }}</em></p>
      <p>{{ comment[1].comment_text | markdownify }}</p>
      <hr>
    {% endfor %}
  {% endif %}

  <p>To leave a comment on this post, <a href="mailto:{{site.email}}">send me an email</a>.</p>
  
  </div>
</div>
