---
permalink: /phased-verification
title: Phased verification requirements for carbon credits
summary: The voluntary carbon market has a problem with supporting innovation. Here's one idea to fix it.
---

This seems like a fairly simple idea but I haven't seen it elsewhere.

The problem: it's hard for a company like [Recoolit](https://www.recoolit.com) to *get started* selling voluntary carbon credits.There is a high overhead in cost and expertise to getting certified and verified before you sell any credits at all.

This creates a chicken and egg problem, especially for newer projects that might require a methodology amendment or a new methodology. If you are doing something established, there is a fairly robust ecosystem for prefinancing your project. But if you're doing something new, you have to take on much more expensive equity financing, with little proof on the demand side, since most buyers only want certified credits.

This is related to a larger issue with the voluntary carbon market: it is structured around very large projects, mostly from land use or renewable energy, not the early iteration that startups need to thrive.

Therefore, a suggestion for the large certifiers:
1. For a nominal fee anyone can submit a 1-page proposal, which will be posted publicly, and get a "provisional welcome to the carbon market" certification to sell 100 tons.
2. After those tons are delivered to buyers you submit whatever evidence you have about the project to date, whatever MRV you've put in place.
3. The certifying body reviews this evidence and within two weeks classifies your project as either "Provisionally Approved", "Questions Remain", or "Serious Doubts". This is posted publicly along with any notes from the review.
4. You can issue another 1000 credits, without any further validation, but presumably your buyers would want you to address any of the issues raised in (3).
5. You go through validation as usual to sell any credits beyond these first 1100.

If you are a product manager at Verra please feel free to steal this idea.
