---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <p class="rss-subscribe">You can subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>. (<a href="http://aboutfeeds.com/">What's a feed?</a>)</p>
    <ul class="post-list">
      {%- for post in site.posts limit:page.n_posts -%}
{% include post-list-entry.html post=post %}
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
